	<div class="row-fluid">
		<div class="span10 offset1">
			<div class="main">
			<div class="fullwrapper">	
				
				<legend>What is ihasbookmarks?</legend>
				<p>I use craigslist.com quite often. It's a great resource except for one major flaw. There is no way to track or save the ads you are viewing. Ihasbookmarks lets you save a thumbnail of any website and take notes about the page you've saved. I find it useful and maybe you will too.</p>
				<center><h3>FAQ</h3></center>
				<strong>How does it work?</strong>
				<br><br>
				<p>It's simple! Just copy (CTRL + C) and paste (CTRL + P) the URL of any website to the designated form at the top and press ENTER. <br><b>At this time only http:// websites can be saved, https:// can not be saved.</b></p>
				

			</div>	
			</div>	
		</div>
	</div>	
		
