<div class="row-fluid">
<div class="tagform-ajax">
<div class="span4">
	
<%= form_for(@note) do |f| %>
<div class="row-fluid">
<div class="tagselect">
Tag:
</div>	
<%= f.text_field :tag_list, :class => "tagselect", :placeholder => "#" %> 
<% end %>
</div>

</div>
</div>
</div>