			<div class="row-fluid">
				<div class="span4">
					<div class="pagetitle">
						<%= website_name %>
					</div>	
				</div>	
			</div>	
				
			<div class="row-fluid">
			<div class="login-wrapper">
					<div class="login">
					<%= render 'login' %>
					</div>
			</div>	
			</div>	
			
			
		
