// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.commentformwrapper{
	padding:20px;
	background-color:#EEF2FF;
	
}
.commentform{
	max-width:98%;
	width:98%;
	height:100px;
	background-color:white;
}

.titleandcomment .commentsubmit{
	visibility:hidden;
}

.titleandcomment:hover .commentsubmit{
	visibility:visible;
}

.commentsubmit{
	color:#373737;
	font-size:20px;	
	width:120px !important;
	height:40px;
	margin: auto!important;
	border:none;
	background-color:#00C1F7;
	-moz-box-shadow: 0 0 1px 0px #888;
	-webkit-box-shadow: 0 0 1px 0px #888;
	box-shadow: 0 0 1px 0px #888;
	border-radius:3px;
	float:right;

}

.commentsubmit:hover{
	color:#373737;
	font-size:20px;	
	width:120px !important;
	height:40px;
	margin: auto!important;
	border:1px solid #888;
	background-color:#00C1F7;
	border-radius:3px;
	-moz-box-shadow: 0 0 2px 1px #888;
	-webkit-box-shadow: 0 0 2px 1px #888;
	box-shadow: 0 0 2px 1px #888;
	
}
