// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header{
	color:white;
	background-color:#232C3B;
	height:40px;
}

.signin{
	color:#373737;
	background-color:#F7F6F6;
	padding:10px;
	border:3px solid #D7D7D7;
}

.signing{
	color:white;
}

.main{
	height:100%;
	background-color:#F7F6F6;
	-moz-box-shadow: 0 0 1px 1px #888;
	-webkit-box-shadow: 0 0 1px 1px#888;
	box-shadow: 0 0 6px 1px #888;	
}

.mainshow{
	height:100%;
	max-width:600px;
	background-color:#F7F6F6;
	-moz-box-shadow: 0 0 1px 1px #888;
	-webkit-box-shadow: 0 0 1px 1px#888;
	box-shadow: 0 0 6px 1px #888;	
}

.topbackground{
	background-color:#232C3B;
	height:60px;
}

.bottombackground{
	background-color:#373737;
	height:60px;
}

.linkformwrapper{
	padding:10px;
	margin-right:10px;
	margin-bottom:-30px;
	
}

.linkform{
	width:100%;
	height:50px !important;
	font-size:24px !important;
	background-color:ghostwhite !important;
}

.pagetitle{
	font-size:36px;
	color:#373737;
	text-align:center;
	padding:20px;
}

.imagewrapper:hover{
	border:2px dashed #00C1F7;
}

.icon-remove{
	float:right;
}

.title{
	font-size:16px;
	padding:10px;
}
.titleattributes{
	width:75%;
}

.titlewrapper{
	width:100%;
	color:#373737;
	background-color:#00C1F7;
}

.comment{
	background-color:#FFFFFF;
	width:100%;
	height:100%;
	color:#363D4A;
	-moz-box-shadow: 0 0 1px 0px #888;
	-webkit-box-shadow: 0 0 1px 0px#888;
	box-shadow: 0 0 1px 0px #363D4A;
}

.titleandcomment{
	border:1px solid #D7D7D7;
}

.comment:hover{
	-moz-box-shadow: inset 0 0 2px #888;
	-webkit-box-shadow: inset 0 0 3px#888;
	box-shadow: inner 0 0 2px #888;
}

.commentfont{
	background-color:white;
	font-size:14px;
	padding:10px;
}

.fullwrapper{
	padding:20px;
}

.titletextarea{
	width:50%;
	height:92%;
}

.timeago{
	color:#BEC2CA;
	margin-top:-10px;
	font-size:12px;
}

.timeagobottombar{
	float:right;
	color:black;	
}

.signuptop{
  padding:10px;
  text-align:center;
  font-size:20px !important;
  font-weight:bold !important;	
  background-color:#F7F7F7 !important;
  color:#373737 !important;
  outline: none !important;
  border:none !important;
  box-shadow:none !important;
  border-radius: 0px !important;
}
.usersignupemail{
  font-size:14px !important;		
  background-color:#F7F6F6 !important;
  color:#999999 !important;
  outline: none !important;
  border:none !important;
  box-shadow:none !important;
  border-radius: 0px !important;
}

.signupwrapper{
	text-align:center;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
	border:5px solid #D7D7D7;
}

.usersignupemail2{
  width:80%;
  height:40px !important;	
  font-size:20px !important;	
  margin-top:9px;	
  background-color:white !important;
  color:#999999 !important;
  outline: none !important;
  border:none !important;
  box-shadow:none !important;
  border-radius: 0px !important;	
  -moz-box-shadow: inset 0 0 5px #888 !important;
  -webkit-box-shadow: inset 0 0 5px#888 !important;
  box-shadow: inner 0 0 5px #888  !important;
}

.usersignupsubmit{
	position:relative;
	background-color:#00C1F7;
	border:none;
	color:white;
	font-size:20px;
	border-radius: 0px;	
	width:80%!important;
	height:40px;
	margin: auto!important;
}

.usersignupsubmit:hover{
	position:relative;
	background-color:#00C1F7;
	border:4px solid #373737;
	color:#373737;
	font-size:20px;
	border-radius: 0px;	
	width:80%!important;
	height:40px;
	margin: auto!important;
}

.pagetitlesignup{
	font-size:36px;
	color:#F7F7F7;
	text-align:center;
	padding:20px;
	font-weight:bold;
}

.whatis{
	padding:20px;
	color:#F7F7F7;
	font-size:24px;
	
}

.signuppage{
	padding:60px;
}

.commentbestinplace{
	max-width:90%;
	width:95%;
	color:black;
}

.commentbar{
	background-color:#EEF2FF;
	height:20px;
}

.detailslink{
	float:right;
}
.footer{
	color:white;
	margin-top:20px;
	background-color:#232C3B;
	height:100px;
	padding:20px;
}
