// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header{
	color:white;
	background-color:#232C3B;
	height:60px;
}

.signin{
	color:#373737;
	background-color:#F7F6F6;
	padding:10px;
	border:3px solid #D7D7D7;
}

.signing{
	color:white;
}

.main{
	height:100%;
	background-color:#F7F6F6;
}


.mainshow{
	margin:20px;
	height:100%;
	max-width:800px;
	background-color:#F7F6F6;
	-moz-box-shadow: 0 0 1px 1px #888;
	-webkit-box-shadow: 0 0 1px 1px#888;
	box-shadow: 0 0 6px 1px #888;	
	margin-bottom:10px;
}

.showside{
	padding:40px;
	height:600px;
	background-color:rgba(247, 246, 246, 1.000);
	-moz-box-shadow: 0 0 1px 1px #888;
	-webkit-box-shadow: 0 0 1px 1px#888;
	box-shadow: 0 0 6px 1px #888;
}

.showsideright{
	background-color:rgba(73, 77, 78, 1.000);
	height:600px;
}

.showsidebar{
	background-color:rgba(0, 193, 247, 1.000);
	height:40px;
}

.topbackground{
	background-color:#232C3B;
	height:60px;
}

.bottombackground{
	background-color:#373737;
	height:60px;
}

.linkformwrapper{
	padding:10px;
	margin-right:10px;
	margin-bottom:-30px;
	
}

.linkform{
	width:100%;
	height:50px !important;
	font-size:24px !important;
	background-color:ghostwhite !important;
}

.pagetitle{
	font-family: ‘Nunito’, Arial, serif; font-weight: 400;
	font-size:36px;
	color:#373737;
	text-align:center;
	padding:20px;
}

.imagewrapper{
	max-width:200px;
}
.imagewrapper:hover{
	border:2px solid #00C1F7;
}

.icon-remove{
	float:right;
}

.title{
	font-family: ‘Nunito’, Arial, serif; font-weight: 400; 
	font-size:16px;
	padding:10px;
}


.titleattributes{
	width:75%;
}

.titlewrapper{
	width:100%;
	color:#373737;
	background-color:#00C1F7;
}

.titleandcomment .icon-removewrapper{
	visibility:hidden;
}

.titleandcomment:hover .icon-removewrapper{
	visibility:visible;
}

.comment{
	font-family: ‘Nunito’, Arial, serif; font-weight: 400; 
	background-color:rgba(238, 242, 255, 1.000);
	width:100%;
	height:100%;
	color:rgba(153, 152, 159, 1.000);
	-moz-box-shadow: inset 0 0 2px #888;
	-webkit-box-shadow: inset 0 0 2px#888;
	box-shadow: inner 0 0 2px #888;
}

.titleandcomment{
	border:1px solid #D7D7D7;
}

.websitedetails{
	padding:10px;
}

.comment:hover{
	-moz-box-shadow: 0 0 1px 0px #888;
	-webkit-box-shadow: 0 0 1px 0px#888;
	box-shadow: 0 0 1px 0px #363D4A;
}

.commentfont{
	background-color:#FFFDE6;
	font-size:14px;
	padding:10px;
}

.fullwrapper{
	padding:20px;
}

.titletextarea{
	width:50%;
	height:92%;
}

.timeago{
	color:#BEC2CA;
	margin-top:-10px;
	font-size:11px;
	font-weight:lighter;
}

.timeagobottombar{
	float:right;
	color:black;	
}


.signuptop{
  padding:10px;
  text-align:center;
  font-size:20px !important;
  font-weight:bold !important;	
  background-color:#F7F7F7 !important;
  color:#373737 !important;
  outline: none !important;
  border:none !important;
  box-shadow:none !important;
  border-radius: 0px !important;
}
.usersignupemail{
  font-size:14px !important;		
  background-color:#F7F6F6 !important;
  color:#999999 !important;
  outline: none !important;
  border:none !important;
  box-shadow:none !important;
  border-radius: 0px !important;
}

.signupwrapper{
	text-align:center;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
	border:5px solid #D7D7D7;
}

.usersignupemail2{
  width:80%;
  height:40px !important;	
  font-size:20px !important;	
  margin-top:9px;	
  background-color:white !important;
  color:#999999 !important;
  outline: none !important;
  border:none !important;
  box-shadow:none !important;
  border-radius: 0px !important;	
  -moz-box-shadow: inset 0 0 5px #888 !important;
  -webkit-box-shadow: inset 0 0 5px#888 !important;
  box-shadow: inner 0 0 5px #888  !important;
}

.usersignupsubmit{
	position:relative;
	background-color:#00C1F7;
	border:none;
	color:white;
	font-size:20px;
	border-radius: 0px;	
	width:80%!important;
	height:40px;
	margin: auto!important;
}

.usersignupsubmit:hover{
	position:relative;
	background-color:#00C1F7;
	border:4px solid #373737;
	color:#373737;
	font-size:20px;
	border-radius: 0px;	
	width:80%!important;
	height:40px;
	margin: auto!important;
}

.pagetitlesignup{
	font-size:36px;
	color:#F7F7F7;
	text-align:center;
	padding:20px;
	font-weight:bold;
}

.whatis{
	padding:20px;
	color:#F7F7F7;
	font-size:24px;
	
}

.signuppage{
	padding:60px;
}

.commentbestinplace{
	max-width:90%;
	width:95%;
	color:black;
}

.commentbar{
	background-color:#EEF2FF;
	height:20px;
}

.detailslink{
	color: black;
	background-color:rgba(0, 193, 247, 1.000);
	float:right;
}

.detailslink:hover{
	color: black;
	background-color:rgba(0, 193, 247, 1.000);
	float:right;
}

a.detailslink:visited{
	color:black;
	background-color:rgba(0, 193, 247, 1.000);
}


.jquerybutton{
	float:left;
	cursor:pointer;
	color:white;
	background-color:rgba(35, 44, 59, 1.000);
	padding:10px;
	margin-right:5px;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
}

.jquerybutton:hover{
	cursor:pointer;
	color:white;
	background-color:rgba(35, 44, 59, 1.000);
	padding:10px;
	-moz-box-shadow: inset 0 0 5px #888;
  -webkit-box-shadow: inset 0 0 5px#888;
  box-shadow: inner 0 0 5px #888;
}

