header {
position: absolute;
top: 0;	
}

footer
{
margin-top: 60px; /* negative value of footer height */
height: 100px;
clear:both;
padding-top:20px;
color:white;
background-color:#232C3B;
padding:20px;
}

#wrap
{
min-height: 100%;
}

#main
{
overflow:auto;
padding-bottom:150px; /* this needs to be bigger than footer height*/
}

html,body{
    height: 100%
}

body {
  background-color:#BEC2CA;
  color: #333;
  font-family: ‘Nunito’, Arial, serif; font-weight: 400; 
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: ‘Nunito’, Arial, serif; font-weight: 400; 
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
