.headline{
	text-align:center;
	font-size:20px;
}

.indexsidebar{
	font-family: ‘Nunito’, Arial, serif; font-weight: 400;
	height:100%;
	color:white;
}

.sidebarheadlinelink{
	color:white;
	background-color:rgba(35, 44, 59, 1.000);
}

a.sidebarheadlinelink:visited {
	color: white;
	background-color:rgba(35, 44, 59, 1.000);
}

.sidebarwrapper{
	margin-top:60px;
}

.sidebarheadline{
	font-family: Arial;
	font-weight: 400;
	width:100%;
	color:rgba(79, 79, 79, 1.000);
	font-size:18px;
	line-height:125%;
	background-color:rgba(35, 44, 59, 1.000);
	border: none;
	outline: none !important;
  	border:none !important;
}

.sidebartext{
	font-family: 'Nunito';
	font-weight:100;
	width:98%;
	height:350px;
	color:rgba(79, 79, 79, 1.000);
	font-size:18px;
	line-height:140%;
	font-style:italic;
	background: url(http://i.stack.imgur.com/ynxjD.png) repeat-y;
	border: none !important;
	outline: none !important;
  	border:none !important;
	box-shadow:none !important;
}

.sidebartext-wrapper{
	width:100%;
}

.sidebarsubmit{
	float:right;
	color: rgba(255,255,255,1);
	text-decoration: none;
	background-color:rgba(35, 44, 59, 1.000);
	font-family: 'Nunito';
	font-weight: 400;
	font-size: 18px;
	padding: 2px;
	display:block;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: 0px 9px 0px rgba(35, 44, 59, 1.000), 0px 9px 25px rgba(0,0,0,.7);
	-moz-box-shadow: 0px 9px 0px rgba(35, 44, 59, 1.000), 0px 9px 25px rgba(0,0,0,.7);
	box-shadow: 0px 9px 0px rgba(35, 44, 59, 1.000), 0px 9px 25px rgba(0,0,0,.7);
	width: 160px;
	text-align: center;
	margin-right:10px;

	-webkit-transition: all .1s ease;
	-moz-transition: all .1s ease;
	-ms-transition: all .1s ease;
	-o-transition: all .1s ease;
	transition: all .1s ease;
}
.sidebarsubmit:active{
-webkit-box-shadow: 0px 3px 0px rgba(0, 193, 247, 1.000), 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px rgba(0, 193, 247, 1.000), 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px rgba(0, 193, 247, 1.000), 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    top: 6px;
}