.maintagsection{
	padding:10px;
	float:left;
}

.tagindex{
	width:100%;
}

.tagselect::-webkit-input-placeholder {
   color: #9B989F;
}

.tagselect:-moz-placeholder { /* Firefox 18- */
   color: #9B989F;  
}

.tagselect::-moz-placeholder {  /* Firefox 19+ */
   color: #9B989F;  
}

.tagselect:-ms-input-placeholder {  
   color: #9B989F;  
}

.tagformwrapper{
	background-color:black;
	height:100px;
	width:400px;
	color:white;
}

.left-side-title{
	padding:20px;
	color:#101010;
	background-color:#F7F6F6;
	font-family:'Helvetica';
	font-size:36px;
	text-align:center;
}

.tagform-index{
	text-align:center;
}

.tag-name-left{
	width:248px;
	color:black;
	font-size:16px;
	background-color:#EAEAEA;
	border:1px solid #D7D7D7;
	border-bottom:1px solid #D7D7D7;
}

.tag-link-left{
	width:250px;
	background-color:#232C3B;
	text-align:left;
	font-size:16px;
	color:white;
}

a.tag-link-left{
	color:white;
}

a.tag-link-left:hover{
	color:#C4BFAC;
	background-color:#232C3B;
}

a.tag-link-left:visited{
	color:white;
	background-color:#232C3B;
}

.tagformwrapper-index{
	text-align:center;
}

.tagselect{
	text-align:center;
	font-weight:400;
	width:99%;
	background-color:#EAEAEA !important;
	color:#232C3B !important;
	font-size:28px !important;
	height:60px !important;
	outline: none !important;
	border-radius:0px !important;
	outline:none !important;
	box-shadow:none !important;
	outline: none !important;
		border: none !important;
}

